::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } body{
letter-spacing: 0.7px;
background-color: #eee;
}

.container{
margin-top: 120px;
margin-bottom: 120px;
}

.btn-lg, a:focus, a:active {
outline: none !important;
box-shadow: none !important;        
}

.card-1{
box-shadow: 2px 4px 15px 0px #000000;
}

p{
font-size: 13px ;
}

.small{
font-size: 9px !important;
}

.cursor-pointer{
cursor: pointer;
}

.btn-round-lg {
border-radius: 22.5px;
background-color: #eee;
color: #000000;
font-size: 14px;
font-weight: 600;
letter-spacing: 0.9px;
padding: 8px 20px  8px  20px !important;
border: 1px solid #fff;
}

.btn-round-lg:hover{
background-color: #fff;
color: #3D5AFE;
border: 1px solid #fff;
}

.btn-round-lg:focus{
border: 1px solid #fff !important;
}

.card{
background-color: #000000 !important;
color: white;
}